/* prettier-ignore */
.card:has(> #qa), #kiku-host::part(root), #kiku-root {
  --font-cyrillic: 'Kiku Inter', sans-serif;
  --font-japanese-text: 'Kiku Noto Sans JP', 'Kiku Inter', sans-serif;
  --font-japanese-display: 'Kiku Noto Serif JP', 'Kiku Inter', serif;
  --font-size-base-expression: var(--text-5xl);
  --line-height-base-expression: var(--text-5xl--line-height);
  --font-size-base-pitch: var(--text-xl);
  --line-height-base-pitch: var(--text-xl--line-height);
  --font-size-base-sentence: var(--text-2xl);
  --line-height-base-sentence: var(--text-2xl--line-height);
  --font-size-base-misc-info: var(--text-sm);
  --line-height-base-misc-info: var(--text-sm--line-height);
  --font-size-base-hint: var(--text-lg);
  --line-height-base-hint: var(--text-lg--line-height);
  --font-size-sm-expression: var(--text-6xl);
  --line-height-sm-expression: var(--text-6xl--line-height);
  --font-size-sm-pitch: var(--text-2xl);
  --line-height-sm-pitch: var(--text-2xl--line-height);
  --font-size-sm-sentence: var(--text-4xl);
  --line-height-sm-sentence: var(--text-4xl--line-height);
  --font-size-sm-misc-info: var(--text-sm);
  --line-height-sm-misc-info: var(--text-sm--line-height);
  --font-size-sm-hint: var(--text-2xl);
  --line-height-sm-hint: var(--text-2xl--line-height);
  --layout-max-width: var(--container-4xl);
  --color-base-100: oklch(100% 0 0);
}

/* prettier-ignore */
.card:has(> #qa).nightMode, .nightMode #kiku-host::part(root), .nightMode #kiku-root, :host([data-dark-mode]) #kiku-root {
  --color-base-100: oklch(25.33% .016 252.42);
}
